.btn {
  display: inline-flex;
  align-items: center;
  gap: $btn-layer-spacing;

  min-width: $btn-layer-min-width;
  min-height: $btn-layer-min-height;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-layer-border-radius;
  color: $btn-text-color;

  transition-property: background-color, color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;

  //Normalize for tag <button>
  font: inherit;
  text-transform: none;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 0;
  overflow: visible;
  cursor: pointer;

  .btn-inner {
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    letter-spacing: $btn-letter-spacing;
  }

  .btn-icon {
    fill: currentColor;
  }
}
